*{
    margin:0;
    padding:0;
    cursor: url(""), auto;
  
  
  }
  
  ::placeholder{
  color:#1c1c1c;
  text-align: left;
  }
  a{
  color:#3700ff9f;
  text-decoration:none;
  cursor:pointer;
  font-size: 18px;
  }
  .dib.input:focus {
  border-color:#38006d;
  }
  .dropbtn {
    background: #f9f9f9;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color:#222;
    
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:focus {
    background-color: ;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
  
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 60%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin:0;
    border-radius:2px;
    height:350px;
   margin-top:-40px;
    
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: right;
    display: block;
    -webkit-touch-callout: none;     -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;user-select: none; 
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  a{
  outline: none;
  text-decoration: none;
  
  }
  a:focus {
   
    
   
  }
 
  ul{
  list-style-image: url('');
  }
  a:focus {
    
   
  }
 
 input{
   
  }
  .min{
    -webkit-touch-callout: none;     -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;user-select: none; 
  }

  

