*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.m--1{
    margin-left: 10px;
}
.m--2{
    margin-left: 20px;
}
.m--3{
    margin-left: 30px;
}
.m--4{
    margin-left: 40px;
}.m--5{
    margin-left:50px;
}.m--6{
    margin-left: 60px;
}.m--7{
    margin-left: 70px;
}
.m-top-1{
    margin-top: -10px;
}
.m-top-2{
    margin-top: -20px;
}
.m-top-3{
    margin-top: -30px;
}
.m-top-4{
    margin-top: -40px;
}

.m-top-5{
    margin-top: -50px;
}
.m-top-6{
    margin-top: -60px;
}
.m---1{
  margin-right: 10px;
}
.m---2{
    margin-right: 20px;
  }
.m---3{
    margin-right: 30px;
  }
//import all
@import url('Roboto-Black.ttf');
